# Core
Django>=5.2,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt==5.3.1
gunicorn>=21.2

# Authentication / Users
django-phonenumber-field>=7.3
phonenumbers>=8.13

# Environment variables
django-environ>=0.11.2

# Testing
pytest>=8.0
pytest-django>=4.9
pytest-cov>=5.0

# Utilities
python-dotenv>=1.0
Pillow==10.4.0
django-cors-headers>=4.3

# Background task processing
celery>=5.3

# Redis message broker
redis>=5.0

# Store Celery task results in Django
django-celery-results>=2.5

# Scheduled and periodic Celery tasks
django-celery-beat>=2.6

# url requests
httpx

# Cloudinary (media storage)
cloudinary==1.42.2
django-cloudinary-storage==0.3.0

# Database 
dj-database-url==3.1.0
psycopg2-binary==2.9.11

# Swagger - API doc
drf-spectacular

# Static files
whitenoise


